<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div id="sidebar">
    <img src="../../../../assets/admin/images/admin.png" alt="Admin Image">
   
            <ul>
                <li><a href="#" class="nav-link">
                    <span class="item-icon">
                        <i class='bx bxs-home'></i>
                    </span>
                    <span class="item-txt">
                        Dashboard
                    </span>
                </a></li>
                <li><a href="#" class="nav-link">
                    <span class="item-icon">
                        <i class='bx bxs-info-circle'></i>
                    </span>
                    <span class="item-txt">
                        Category
                    </span>
                </a></li>
                <li><a href="#" class="nav-link">
                    <span class="item-icon">
                        <i class='bx bx-task'></i>
                    </span>
                    <span class="item-txt">
                        Products
                    </span>
                </a></li>
                <li><a href="#" class="nav-link">
                    <span class="item-icon">
                        <i class='bx bxs-contact'></i>
                    </span>
                    <span class="item-txt">
                        Orders
                    </span>
                </a></li>
            </ul>
        
        </div>
        
    
    