<!-- product-details.component.html -->

<div class="container mt-5">
  <div class="card product-card">
    <img src="{{ product.imageUrl }}" class="card-img-top detail-img" alt="{{ product.name }}">
    <div class="card-body">
      <h3 class="card-title">{{ product.name }}</h3>
      <div class="price">{{ product.price | currency:'USD' }}</div>
      <p class="card-text">{{ product.description }}</p>
      <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to Cart</button>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/products" class="btn btn-secondary btn-sm">Back to Product List</a>
    </div>
  </div>
</div>
