<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <header class="bg-dark">
    <a href="/">
      <img src="assets/images/moms-deli-logo.gif" alt="Logo" width="150" />
    

    </a>


    
    <div class="nav-icon" (click)="toggleNav()">
      <i class="fa fa-bars"></i>
      
    </div>
    <div class="mobile-cart"> 
    <div class="float-end"> 
      <app-cart-status></app-cart-status>
    </div>
    </div>
    <nav>
      <ul>
        <li class="cart-link">
          <a class="nav-link" routerLink="/cart-details">
            <app-cart-status></app-cart-status>
          </a>
        </li>
      </ul>
    </nav>

  </header>


<nav [ngClass]="{'show': isSidebarShown}" class="bg-dark">
  <ul>
    <li *ngFor="let tempProductCategory of productCategories">
      <a  (click)="byCategory(tempProductCategory.id)" class="active"> {{tempProductCategory.categoryName}}</a></li>
  </ul>
</nav>

<!-- <div class="overlay" [ngClass]="{'show': isSidebarShown}" (click)="toggleNav()"></div> -->

<!-- ... rest of your HTML code ... -->


</body>
</html>
