<br>
<div class="container padding-bottom-3x mb-2 mt-5" *ngIf="!isEmailVerfed">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h1>Forgot your password?</h1>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>OTP will be sent to the given mail address.</li>
                    <li><span class="text-primary text-medium">3. </span>Enter the OTP and reset your password.</li>
                </ol>
            </div>  
            
            <form class="card mt-4">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email-for-pass">Enter your email address</label>
                        <input class="form-control" [(ngModel)]="email" name="email" type="text" id="email-for-pass" required="">
                        <button class="btn btn-success" type="submit" (click)="verifyEmail()">Verify Email</button>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="auth/login" class="btn btn-danger" type="button">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<br>
<div class="h-screen mt-3" *ngIf="isEmailVerfed">
    <div class="container mx-auto">
        <div class="max-w-sm mx-auto md:max-w-lg">
            <div class="w-ful shadow">
                <div class="bg-white h-64 py-3 rounded text-center">
                    <h1 class="text-2xl font-bold">OTP Verification</h1>
                    <div class="flex flex-col mt-4">
                        <span>Enter the OTP you received at </span>
                        <span class="font-bold">{{email}}</span>
                    </div>
                    
                    <div id="otp" class="container">
                        <div class="row text-center offset-4">
                            
                        <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="first" maxlength="1" /> 
                        <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="second" maxlength="1" /> 
                        <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="third" maxlength="1" /> 
                        <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
                        <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fifth" maxlength="1" /> 
                        <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="sixth" maxlength="1" />
                    </div>
                          
                    <button class="btn btn-outline-success">Verify OTP</button>

                    <div class="flex justify-center text-center">
                        <a class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer"><span class="font-bold">Resend OTP</span><i class='bx bx-caret-right ml-1'></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
