    <!-- <div class="cart-area d-n">
<a routerLink="/cart-details"> -->
        <!-- <div class="total">
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            
            {{ totalPrice | currency: 'USD' }}
            <span>{{ totalQuantity }}</span> 
        </div> 
        <div> -->
        
    <!-- </a> 
</div> -->
<div class="total">
    <div>
      <mat-icon>shopping_cart</mat-icon>
    </div>
  
    <div>
      {{ totalPrice | currency: 'USD' }}
      <span>{{ totalQuantity }}</span>
    </div>
  </div>

<p>&nbsp;</p>