<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th width="20%">Product Image</th>
                        <th width="50%">Product Detail</th>
                        <th width="30%"></th>
                    </tr>

                    <tr *ngFor="let tempCartItem of cartItems">
                        <td>
                            <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="100%" />
                        </td>
                        <td>
                            <p>{{ tempCartItem.name }} {{ tempCartItem.price | currency: 'USD' }}</p>
                            <ul>
                                <li *ngFor="let additionalItem of tempCartItem.selectedAdditionalItems">
                                    {{ additionalItem.name }} - {{ additionalItem.price | currency: 'USD' }}
                                </li>
                            </ul>

                            <!-- User inputted description -->
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="3" [(ngModel)]="description"></textarea>
                            </div>

                            <!-- <p>Do you want to add any sides/toppings with this?</p>
                            <p></p> -->
                            <!-- <select [(ngModel)]="tempCartItem.selectedDrink">
                                <option value="none">Select Drink</option>
                                <option value="water">Water</option>
                                <option value="coke">Coke</option>
                                <option value="pepsi">Pepsi</option>
                                <option value="sprite">Sprite</option>
                            </select> -->
                        </td>
                        <td>
                            <div class="items">
                                <label>Quantity:</label>

                                <div fxLayout="row" fxLayoutGap="10px">
                                    <div fxFlex>
                                        <button mat-mini-fab color="primary" (click)="decrementQuantity(tempCartItem)">
                                            <mat-icon>remove</mat-icon>
                                        </button>

                                        {{ tempCartItem.quantity }}

                                        <button mat-mini-fab color="primary" (click)="incrementQuantity(tempCartItem)">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                
                                    <div fxFlex="80"></div>
                                </div>
                                
                            </div>

                            <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>

                            <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.price | currency: 'USD' }}</p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <!-- <tr *ngFor="let additionalItem of tempCartItem.selectedAdditionalItems">
                                <td colspan="2">
                                  {{ additionalItem.name }} - {{ additionalItem.price | currency: 'USD' }}
                                </td>
                              </tr> -->
                        </td>
                        <td>
                            <p style="font-weight: bold">Total Quantity: {{ totalQuantity }}</p>
                            <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                            <!-- <p>Selected Additional Items:</p>
                            <ul>
                                <li *ngFor="let additionalItem of selectedAdditionalItems">
                                {{ additionalItem.name }} - {{ additionalItem.price | currency: 'USD' }}
                                </li>
                            </ul> -->
                            <p>Shipping: {{ shippingPrice | currency: 'USD' }}</p>
                            <p style="font-weight: bold">Total Price + Shipping: {{ totalPrice+shippingPrice | currency: 'USD' }}</p>
                            <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                        </td>
                    </tr>

                </table>

            </div>

            <!-- if cart is empty then display a message -->
            <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                Your shopping cart is empty. 
            </div>

        </div>
    </div>
  </div>
  