.product-category {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(13, 168, 228, 0.11);
}

.card-body {
  cursor: pointer;
}
.active-link{
  background: rgba(13, 168, 228, 0.11);
}
.font-custom {
  font-family: 'Your Custom Font', sans-serif; /* Replace 'Your Custom Font' with the actual font name */
  font-size: 18px; /* Adjust the font size as needed */
  /* Add any other font-related styles here */
}


.explore-menu {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.42); /* Adjust the background color to your preference */
  color: #fff; /* Set text color to white or a contrasting color */
  padding: 15px 20px; /* Adjust the padding for better spacing */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  font-family: 'Arial', sans-serif; /* Optional: Set a specific font-family */
}