
  <div class="container-fluid">
      <div class="tag-buttons-container">      
      <div class="tag-buttons">
          <button class="tag-button active"   [routerLink]="'/products'" data-tag="all"> All </button>
          <button  class="tag-button" 
              *ngFor="let tempProductCategory of productCategories" 
              [routerLink]="['/category', tempProductCategory.id]" 
              routerLinkActive="active-link">
        {{ tempProductCategory.categoryName }}
          </button>
          <!-- Add more buttons for your tags here -->
      </div>
  </div>
    
  </div>

  
