<!--&lt;!&ndash; app.component.html &ndash;&gt;-->
<!--<h1 class="fade-in explore-menu">Explore the Menu</h1>-->
<!--<div class="row">-->
<!--    <div class="col-md-3 active">-->
<!--        <div class="card card-body font-custom fade-in" routerLinkActive="active-link" [routerLink]="'/products'" data-tag="all">-->
<!--            <p class="text-center">All</p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-md-3 mt-1" *ngFor="let tempProductCategory of productCategories">-->
<!--        <div class="card card-body font-custom fade-in" routerLinkActive="active-link" [routerLink]="['/category', tempProductCategory.id]">-->
<!--            <p class="text-center">{{ tempProductCategory.categoryName }}</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<br> <br> <br>
<!-- product-list.component.html -->
<div class="container-fluid">
    <div class="tag-buttons-container">
      <!-- <div class="sidebar-toggle" (click)="toggleSidebar()">
        <i class="fa fa-bars"></i>
      </div> -->
      <div class="tag-buttons" [ngClass]="{'show': isSidebarVisible}">
        <!-- <button class="tag-button" [routerLink]="['/products']" routerLinkActive="active" data-tag="all"> All </button> -->
        <button *ngFor="let tempProductCategory of productCategories"
                class="tag-button"
                [routerLink]="['/category', tempProductCategory.id]"
                routerLinkActive="active">
          {{ tempProductCategory.name }}
        </button>
        <!-- Add more buttons for your tags here -->
      </div>
    </div>
  </div>
  
  
  