<div class="container-fluid">  
    
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
<div class="row" *ngIf="!isLoading" >
        <div class="col-md-12">
            <h2>Products For You</h2>
            <main>
                <div class="container-fluid bg-light">
                    <div class="row">
                    
                        <div class="product-card col-md-4 m-1" *ngFor="let product of productsPage.content">
                            <div class="product-img-container bg-light p-0 m-0" [routerLink]="['/products', product.id]">
                              <div class="product-img" style="background-image: url({{product.imageUrl}});"></div>
                            </div>
                            <div class="product-info">
                              <h6 class="product-title">{{product.name}}</h6>
                              <p class="product-"> {{product.description.substring(0,40)}}... </p>
                              <div class="icon-container">
                                <p class="product-price float-start text-danger">{{product.price | currency}}</p>
                                <div class="float-end"> 
                                <!-- <i class="fas fa-heart "></i> -->
                                <!-- <i class="fas fa-shopping-cart  cart-icon" ></i> -->
                             </div>
                          <button type="button" (click)="addToCart(product)" id="animatebutton" class="btn btn-warning btn-icon-text animatebutton">
                             <i class="fa fa-cart btn-icon-cart"></i> 
                            Add to Cart </button> </div>
                               
                            </div>
                          </div>
                          

                        <!-- Repeat the above card structure for each product -->

                    </div>
                </div>
                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [length]="productsPage.totalPages * pageSize"
               (page)="onPageChanged($event)">
                </mat-paginator>
            </main>
        </div>
    </div>
</div>
