
<div class="container">
    <div class="row" *ngIf="cartItems.length > 0">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class=" ">
                        <div *ngFor="let tempCartItem of cartItems" class="card card-body p-3 mb-3">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img [src]="tempCartItem.imageUrl" alt="{{ tempCartItem.name }}" class="card-img" style="width:100%;">
                                </div>
                    
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>{{ tempCartItem.name }}</h5>
                                            <p class="card-text">{{ tempCartItem.price | currency: 'USD' }}</p>

                                            <div class="items">
                                                <label>Quantity:</label>
                                                <div fxLayout="row" fxLayoutGap="10px">
                                                    <div fxFlex>
                                                        <button mat-mini-fab color="primary"
                                                            (click)="decrementQuantity(tempCartItem)">
                                                            <mat-icon>remove</mat-icon>
                                                        </button>
                                                        {{ tempCartItem.quantity }}
                                                        <button mat-mini-fab color="primary"
                                                            (click)="incrementQuantity(tempCartItem)">
                                                            <mat-icon>add</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div fxFlex="80"></div>
                                                </div>
                                                <button (click)="remove(tempCartItem)"
                                                    class="btn btn-danger btn-sm mt-2">Remove</button>
                                                <p class="mt-2">Subtotal: {{ tempCartItem.quantity *
                                                    tempCartItem.price | currency: 'USD' }}
                                                </p>
                                            </div>
                                        </div>

                                      
                                      
                                    </div>
                                </div>
                               <div class="col-md-4">
                                <div class="col-md-12">
                                    <div class="row">

                                        <mat-form-field *ngIf="tempCartItem.additionalItems.length>0">
                                            <mat-label>Select Addition Items</mat-label>
                                            <mat-select multiple [(ngModel)]="selectedAdditionItems[tempCartItem.id]" (selectionChange)="handleSelectionChange(tempCartItem)" name="tempSelectAdditionItem">
                                              <mat-option *ngFor="let item of tempCartItem.additionalItems" [value]="item">
                                                <!-- Display category information -->
                                                <img src="" alt="{{ item.name }}" height="30" width="30">
                                                {{ item.name }}
                                                <span class="price">{{ item.price | currency:'USD':'symbol' }}</span>
                                                <hr>
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                         
                                      </div>
                                      
                                </div>
                                <div class="col-md-12">
                                    <label>Specific Instruction</label>
                                    <textarea [(ngModel)]="tempCartItem.specificInstruction" name="specificInstruction" class="form-control"></textarea>
                                </div>
                               </div>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <!-- Add-ons -->
   <div class="addons-container" *ngIf="cartItems.length !== 0">

  
</div>
             </div>
             
            </div>
        </div>

        <div class="col-md-4">
            <div class="card summary-container">
                <p style="font-weight: bold"> Total Quantity: {{ totalQuantity }}</p>
                <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                <p>Selected Additional Items:</p>
                
                <ul>
                    <li *ngFor="let additionalItem of selectedAdditionalItems">
                        {{ additionalItem.name }} - {{ additionalItem.price | currency: 'USD' }}
                    </li>
                </ul>
                <p>Shipping: {{ shippingPrice | currency: 'USD' }}</p>
                <p style="font-weight: bold"> Total Price + Shipping: 
                {{    totalPrice + shippingPrice  | currency: 'USD' }}</p>
                <button (click)="toOrderPlace()" class="btn btn-primary">Checkout</button>
            </div>
        </div>
    </div>
    <!-- if cart is empty then display a message -->
    <div *ngIf="cartItems.length === 0" class="alert alert-warning" role="alert">
        Your shopping cart is empty.
    </div>
</div>