<div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
  
        <div *ngIf="cartItems.length > 0" class="cart-container">
  
          <!-- Product Details -->
          <div *ngFor="let tempCartItem of cartItems" class="card mb-3 product-card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src]="tempCartItem.imageUrl" alt="{{ tempCartItem.name }}" class="card-img" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ tempCartItem.name }}</h5>
                  <p class="card-text">{{ tempCartItem.price | currency: 'USD' }}</p>
                  <div *ngFor="let addsOn of tempCartItem.additionalItems">
                    {{ addsOn.name }}
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" [(ngModel)]="description"></textarea>
                  </div>
                  <div class="items">
                    <label>Quantity:</label>
                    <div fxLayout="row" fxLayoutGap="10px">
                      <div fxFlex>
                        <button mat-mini-fab color="primary" (click)="decrementQuantity(tempCartItem)">
                          <mat-icon>remove</mat-icon>
                        </button>
                        {{ tempCartItem.quantity }}
                        <button mat-mini-fab color="primary" (click)="incrementQuantity(tempCartItem)">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                      <div fxFlex="80"></div>
                    </div>
                    <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>
                    <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.price | currency: 'USD' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Add-ons -->
          <div class="addons-container" *ngIf="cartItems.length !== 0">
            <h5>Add-ons</h5>
            <div class="row">
              <ul class="list-unstyled d-flex flex-wrap">
                <li *ngFor="let item of listOfAdditionItems" class="card col-md-4 mb-3 addon-card">
                  <img [src]="item.imageURL" alt="{{ item.name }}" class="card-img-top" />
                  <div class="card-body">
                    <p class="card-text btn btn-success rounded-pill btn-sm" (click)="addAdditoinItem(item)" [hidden]="checkInSelection(item)">
                      {{ item.name }} - {{ item.price | currency: 'USD' }}
                    </p>
                    <p class="card-text btn btn-danger rounded-pill btn-sm" (click)="removeFromAdditionItemSelected(item)" [hidden]="!checkInSelection(item)">
                      Remove {{ item.name }}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Summary and Checkout -->
          <div class="summary-container">
            <p style="font-weight: bold">Total Quantity: {{ totalQuantity }}</p>
            <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
            <p>Selected Additional Items:</p>
            <ul>
              <li *ngFor="let additionalItem of selectedAdditionalItems">
                {{ additionalItem.name }} - {{ additionalItem.price | currency: 'USD' }}
              </li>
            </ul>
            <p>Shipping: {{ shippingPrice | currency: 'USD' }}</p>
            <p style="font-weight: bold">Total Price + Shipping: {{ totalPrice + shippingPrice + getTotalAdditionalPrice() | currency: 'USD' }}</p>
            <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
          </div>
  
        </div>
  
        <!-- if cart is empty then display a message -->
        <div *ngIf="cartItems.length === 0" class="alert alert-warning col-md-12" role="alert">
          Your shopping cart is empty.
        </div>
  
      </div>
    </div>
  </div>
  