<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 card card-body shadow">
      <h2 class="text-primary">
        <i class="text-dark fa fa-dashboard"></i> Dashboard
      </h2>
      <hr />

      <div class="col-md-12">
        <div class="card text-center shadow">
          <div class="row">
            <div class="col-md-2">
              <img
                src="../../../assets/admin/images/category_admin.png"
                style="width: 10vh"
              />
            </div>
            <div class="col-md-8">
              <h5>Category</h5>
              <b>15</b>
            </div>
          </div>
          <div class="card-footer">
            View Details
            <i class="fa fa-eye"></i>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card text-center shadow">
          <div class="row">
            <div class="col-md-2">
              <img
                src="../../../assets/admin/images/admin_product.png"
                style="width: 10vh"
              />
            </div>
            <div class="col-md-8">
              <h5>Product</h5>
              <b>115</b>
            </div>
          </div>
          <div class="card-footer">
            View Details
            <i class="fa fa-eye"></i>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-body text-center shadow">
          <h5>Customers</h5>
          <b>261</b>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-body text-center shadow">
          <h5>Orders</h5>
          <b>120</b>
        </div>
      </div>
    </div>

    <div class="col-md-4 card card-body shadow"></div>

    <div class="col-md-4 card-body shadow"></div>
  </div>

  <div class="row mt-1">
    <div class="col-md-12">
      <div class="card card-body shadow">
        <h3 class="text-primary">Recent Orders</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Customer Name</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total Amount</th>
              <th>Order Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>ABC CUSTOMER</td>
              <td>
                <img
                  style="width: 5vh"
                  src="../../../assets/images/products/chips_and_snacks/pita_chips.png"
                />
                Product A
              </td>
              <td>2</td>
              <td>$50.00</td>
              <td>2023-01-01</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jane Smith</td>
              <td>Product B</td>
              <td>1</td>
              <td>$30.00</td>
              <td>2023-01-02</td>
            </tr>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
