<div class="card shadow border-0 mb-7">
    <div class="card-header">
      <h5 class="mb-0">Update Additional Items</h5>
      <div class="container"></div>
    </div>
  
    <form class="card-body" [formGroup]="additionalItemForm" (ngSubmit)="onSubmit()">
      <!-- Add your form controls with formGroupName and formControlName -->
      <label for="productName">Addition Item Name:</label>
      <input type="text" class="form-control" id="productName" formControlName="productName" required>
  
      <label for="productPrice">Addition Item Price:</label>
      <input type="number" class="form-control" id="productPrice" formControlName="productPrice" required>
  
      <label for="productCategory">Addition Item Category:</label>
      <select id="productCategory" class="form-control" formControlName="productCategory" required>
        <option value="electronics">Electronics</option>
        <option value="clothing">Clothing</option>
        <option value="books">Books</option>
        <!-- Add more options as needed -->
      </select>
  
      <label for="productImage">Product Image URL:</label>
      <input type="file" class="form-control" id="productImage" formControlName="productImage" required>
  
      <div class="container-fluid">
        <button type="submit" class="btn btn-warning mt-1" data-abc="true">
          <i class="fa fa-edit"></i> Add Additional Item
        </button>
      </div>
    </form>
  </div>
  