
.cart-area {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-top: -70px;
    width: 110%;
    height:80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    color: #333;
  }

  .cart-area:hover {
    background-color: #e0e0e0;
  }

  mat-icon {
    font-size: 30px;
    margin-right: 10px;
  }

  .badge {
    background-color: #ff9900;
    color: #fff;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }