.cart-list {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }

  .cart:hover .cart-list {
    display: block;
  }