<!-- Import the Material Icons font in your styles or index.html file -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<!-- ... -->
<p>&nbsp;</p>

<!-- Professional Cart Area with Badge -->
<div class="cart-area" >
  <mat-icon routerLink="/cart-details">shopping_cart</mat-icon>
  <span class="badge">{{ totalQuantity }}</span>
  <span class=" tex-white">{{
    storage.getItem("totalPrice") | currency : "USD"
  }}</span>

<p>&nbsp;</p><p>&nbsp;</p>
  
  <!-- <div *ngIf="currentUserName!=''">
    <a routerLink="/customer/dashboard">   {{currentUserName}}</a> 
    </div>
  
    <div *ngIf="currentUserName==''">
      <a routerLink="/auth/login">  Login/Register</a> 
      </div>
     -->
</div>
