<mat-toolbar style="background-color: black;">
    <!-- Desktop Categories List -->
    <mat-toolbar-row class="categories-list" *ngIf="!mobileQuery.matches">
      <button mat-button class="category-link" 
              *ngFor="let tempProductCategory of productCategories" 
              [routerLink]="['/category', tempProductCategory.id]" 
              routerLinkActive="active-link">
        {{ tempProductCategory.categoryName }}
      </button>
    </mat-toolbar-row>
  
    <!-- Mobile Categories Menu -->
    <mat-toolbar-row *ngIf="mobileQuery.matches">
      <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
        <mat-icon>menu</mat-icon>
      </button>
  
      <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item *ngFor="let tempProductCategory of productCategories" 
                [routerLink]="['/category', tempProductCategory.id]" 
                routerLinkActive="active-link" 
                (click)="closeMobileCategories()">
          {{ tempProductCategory.categoryName }}
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <p>&nbsp;</p>